body{
    background: linear-gradient(rgb(254, 195, 205),rgb(174, 91, 105))  ;
  
}

header{
    padding: 160px;
    margin-bottom: 250px;
    margin-left: 0px;
    
}

main{
    margin: 95px;
    line-height: 1.95;
    margin-bottom: 500px;
}



h1{
  font-family: "Bungee Tint", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 90px;
  color: rgb(8, 23, 66);
  margin-bottom: 30px;
  margin-top: 60px;
  
}

.emoji{
  font-family: "Noto Color Emoji", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.center{
    text-align: center;
}


.text2{
  font-family: "Niconne", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 26px;
  color: rgb(43, 25, 3);
}


.border{
    border: 15px solid rgb(199, 54, 129) ;
    border-radius: 20px;
    padding: 40px;
    margin: 0px;

}

img{
    max-width: 100%;
    height: auto;

}

.grid{
    display: grid;
    grid-template-columns: 1fr ;
}




.none{
    display: none;
}



@media screen and(min-width:600px){
    
    .none{
        display: block; 
    }

    h1{
        text-align: center;
    }
    

   

}


@media screen and (min-width:768px){

    .none{
        display: block; 
    }

    


    .grid{
        display: grid;
        grid-template-columns: 2fr 1fr ;
        grid-gap: 80px;
    }
    
    
  
   
  

}


@media screen and(max-width:960px){

    .none{
        display: block; 
    }

    
    
    .grid{
        display: grid;
        grid-template-columns: 2fr 1fr ;
        grid-gap: 80px;
    }

   

    

}


@media screen and(min-width:1280px){
     .grid{
        display: grid;
        grid-template-columns: 2fr 1fr ;
        grid-gap: 80px;
    }


    
    
}


.arrow {
  font-family: "Noto Sans Symbols 2", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-left: 10px;
  margin-right: 10px;
  color: rgb(39, 19, 46);
}



.bordertext {
  font-family: "Emilys Candy", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  color: rgb(64, 38, 3);
}


.margin{
    margin-left: 60px;
}


.bolder{
    font-weight: bolder;

}

.text3{
  font-family: "Sunshiney", cursive;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  line-height: 1;
 
  
}


.margin2{
    margin-left: 130px;
}

.margin3{
    margin-left: 50.5px;
}

.justify{
    justify-content: space-around;
}

.icon {
  font-family: "Niconne", cursive;
  font-weight:200px;
  font-style: normal;
  font-size: 30px;
}


.margin4{
    margin-left: 140px;
}

.margin5{
    margin-left: 5px;
}



.margin6{
    margin-top: 5px;
}

.center{
    text-align: center;
}


.border2{
    border: 2px dashed rgb(177, 81, 97);
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 0px;
}


.float{
    float: right;
    margin-right: 20px;
    margin-top: 40px;
}

.float2{
    float: left;
    width: 280px;
    height: auto;
    padding-left: 0px;
    margin-left: -9rem;
    margin-top: -140px;

}

.float3{
    float: right;
    width: 200px;
    height: auto;
    margin-top: -242px;
    margin-right: 53px;
}

.img{
    width: 180px;
    height: auto;
}


.img2{
    width: 280px;
    height: auto;
    margin-top: -35px;
    margin-left: 370px;
    justify-content: center;
}

.center2{
    text-align: center;
}



.text4{
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  position: absolute;
  z-index:3;
  margin-top:-188px;
  margin-left: -100px;

}

.link{
    a{
    text-decoration: none;
    color: rgb(16, 9, 75);
  }

  a:visited{
    color: rgb(59, 35, 7);
  }
}

.link3{
    a:hover{
    color:  rgb(139, 247, 31);
    }

}


.img3{
    width: 70px;
    height: auto;
    position: absolute;
    margin: 50px;
}

.img4{
    width: 70px;
    height: auto;
    position: absolute;
    margin: 50px;
    margin-left: 315px;
    margin-top: 63px;
}

.img5{
    width: 70px;
    height: auto;
    position: absolute;
    margin: 50px;
    margin-left: 655px;
    margin-top: 22px;
}

.img6{
    width: 350px;
    height: auto;
    position: absolute;
    margin-top: 550px;
    margin-left: 230px;
    
}


.img7{
    width: 200px;
    height: auto;
    position: absolute;
    margin-top: 160px;
    margin-left: 30px;
    
}

.img8{
    width: 270px;
    height: auto;
    position: absolute;
    margin-top: 165px;
    margin-left: -630px;
    
}


.img9{
    width: 100px;
    height: auto;
    position: absolute;
    margin-top: -30px;
    margin-left: 5px;
}


.img10{
    width: 100px;
    height: auto;
    position: absolute;
    margin-top: 100px;
    margin-left: -460px;
}

.img11{
    width: 100px;
    height: auto;
    position: absolute;
    margin-top: 9px;
    margin-left: 10px;
}

.img12{
    width: 180px;
    height: auto;
    position: absolute;
    margin-top: -84px;
    margin-left: 80px;
}


.img13{
    width: 50px;
    height: auto;
    position: absolute;
    margin-top: -2px;
    margin-left: -40px;
}

.img14{
    width: 40px;
    height: auto;
    position: absolute;
    margin-top: 6px;
    margin-left: -210px;
}

.img15{
    width: 450px;
    height: auto;
    position: absolute;
    margin-top: 550px;
    margin-left: -400px;
}



.text5 {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  position: absolute;
  margin-top: 210px;
  margin-left: 430px;

  
  

}


.link2{
    a{
        text-decoration: none;
        color:rgb(146, 107, 158);
    }

    a:hover{
        color: rgb(199, 125, 183);

    }

    a:visited{
        color: rgb(66, 24, 80);
    }
}





















