body{
    background-color: rgb(206, 189, 222);
    margin: 100px;
    
}

header{
    padding-bottom:70px;
}

img{
    max-width: 100%;
    height: auto;

}

.img{
    width: 100px;
    height: auto;
    position: absolute;
    margin-top: -26rem;
    margin-left:76rem;
}

.text{
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 160px;
  color: rgb(41, 5, 57);
  margin: 100px;
  margin-top: 460px;
  text-align: center;
  margin-left: 35px;

}


.img2{
    width: 240px;
    height: auto;
    position: absolute;
    margin-top: -523px;
    margin-left: -45px;
}

.img3{
    width: 145px;
    height: auto;
    position: absolute;
    margin-top: -455px;
    margin-left: 447px;
}


.img4{
    width: 320px;
    height: auto;
    position: absolute;
    margin-top: -510px;
    margin-left: 860px;
}


.img5{
    width: 100px;
    height: auto;
    position: absolute;
    margin-top: -325px;
    margin-left:76.5rem;
}


.img6{
    width: 110px;
    height: auto;
    position: absolute;
    margin-top: -670px;
    margin-left:730px;
}



.img7{
    width: 230px;
    height: auto;
    position: absolute;
    margin-top: 0px;
    margin-left:70px;
}

.img8{
    width: 178px;
    height: auto;
    position: absolute;
    margin-top: -5px;
    margin-left:310px;
}

.img9{
    width: 200px;
    height: auto;
    position: absolute;
    margin-top: -74px;
    margin-left:488px;
}

.img10{
    width: 233px;
    height: auto;
    position: absolute;
    margin-top: -3px;
    margin-left:695px;
}

.img11{
    width: 233px;
    height: auto;
    position: absolute;
    margin-top: -4.5px;
    margin-left:890px;
}

.img12{
    width: 250px;
    height: auto;
    position: absolute;
    margin-top: 938px;
    margin-left:70px;

}

.img13{
    width: 210px;
    height: auto;
    position: absolute;
    margin-top:  935px;
    margin-left:300px;
}

.img14{
    width: 220px;
    height: auto;
    position: absolute;
    margin-top: 911px;
    margin-left:520px;
}

.img15{
    width: 220px;
    height: auto;
    position: absolute;
    margin-top: 933px;
    margin-left:737px;
}

.img16{
    width: 190px;
    height: auto;
    position: absolute;
    margin-top: 912px;
    margin-left:940px;
}



.text2{
    font-family: "Gorditas", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    color: rgb(41, 5, 57);
    font-style: oblique;
    position: absolute;
    margin-top: 550px;
    margin-left: 150px ;
    margin-right: 200px ;
    line-height: 1.5;
   
    

}



.margin2{
    margin-left: 70px;
}

.margin3{
    margin-left: 370px;
}

.margin4{
    margin-left: 100px;
}

.link2{

    a{
        text-decoration: underline;
        color: rgb(119, 65, 111);
    }

    a:visited{
        color: rgb(53, 6, 85);
    }

}

.link{
    a:hover{
        color:  rgb(139, 247, 31);
    }

}

.text3{
    font-family: "Gorditas", serif;
    font-weight: 700;
    font-style: normal;
    color: rgb(41, 5, 57);
    font-size:18px;
    position: absolute;
    margin-top: 1500px;
    margin-left: 520px ;
    

}

.map{
    position: absolute;
    margin-top: 1560px;
    margin-left: 450px ;
    padding-bottom: 50px;
  

}

.img17{
    width: 310px;
    height: auto;
    position: absolute;
    margin-top: 1560px;
    margin-left: 40px ;

}

.img18{
    width: 230px;
    height: auto;
    position: absolute;
    margin-top: 1580px;
    margin-left: 1000px ;

}

.img19{
    width: 22px;
    height: auto;
    position: absolute;
    margin-top: 540px;
    margin-left: 211px ;

}

.img20{
    width: 15px;
    height: auto;
    position: absolute;
    margin-top: 1491px;
    margin-left: 512px ;

}



